/* .main1{
    margin: 20px;
    padding: 10px;
    background-color: #4158D0;
    background-color: #D9AFD9;
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
    background-image: radial-gradient( circle 860px at 11.8% 33.5%,  rgba(240,30,92,1) 0%, rgba(244,49,74,1) 30.5%, rgba(249,75,37,1) 56.1%, rgba(250,88,19,1) 75.6%, rgba(253,102,2,1) 100.2% );
    
} */
/* 


.sub{
    border-radius: 50%;
    border: 2px solid black;
    height: 400px;
    width: 400px;
}
.main{
    
} */

/* button{
    background-color: black;
    border-radius: 20px;
    color: white;
}
div{
    background-color: aqua;
    height: 200px;
    width: 200px;
    border
} */
/* 
.subb{
    margin: 10px;
} */
/* 
h1{
    position: relative;
    bottom: 70px;
    left: 5px;
} */





















 