.tablecell{
    border: 1px solid black;

    background-color: #0830f5;


}
.tablecellak{
    border: 1px solid black;
    background-color: #07eb3c;

}
.tablecellak:hover{
    background-color: #9be3ac;

}
.tablecell:hover{
    background-color: #91a1ec;

    
}


/* 
.tablebody{
    border: 2px solid black;
} */